body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #444;
}
 
 .container {
  width: 666px;
  margin: 0px auto;
  /*border: 2px solid red;*/
}

header {
  opacity: .9;
}

footer {
  margin: 2em;
}

footer .container {
  border-top: 1px solid #555;
  margin-top: 150px;
  opacity: 0.5;
}

footer p {
  text-align: center;
}
 
.menu {
  text-align: right;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: .5em;
}
 
h2 {
  font-size: 3em;
  text-align: center;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  text-align: center;
  color: #848F87;
}

p {
  font-size: 1em;
  text-align: left;
}

a {
  color: #848F87;
  text-decoration: none;
}

a:hover {
  color: #34C758;
}

img {
  float: left;
  padding-right: 1.5em;
}

