{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Jonathan Williamson<h2>
    <h3>Mesh Topology Specialist, Tool Designer, and aspiring Python Developer.<h3>
  </div>
  <div>
  	<img src="{{ url_for('static', filename='img/jonathan_bio_250x250_bw.png') }}" alt="Jonathan Williamson">
  <div>
  	<p>I'm technical mesh modeler with an unhealthy obcession for clean and effective topology. I've designed a suite of retopology tools for Blender (Contours, Polystrips) and I'm the co-founder of <a href="http://cgcookie.com">CG Cookie</a>.
	</p>
  </div>
{% endblock %}