{% extends "layout.html" %}
{% block content %}

<div>
  <h2>Jonathan Williamson<h2>
  <h3 class="fade">topology specialist, tool designer, aspiring python dev<h3>
</div>
<div>
	<img src="{{ url_for('static', filename='img/jonathan_bio_250x250_bw.png') }}" alt="Jonathan Williamson" class="fade">
  <div>
  	<p class="fade">
      I'm a fan of clean and effective mesh topology for 3D modeling. I really enjoy designing artist-friendly tools, such as my <a href="http://cgcookiemarkets.com/blender/all-products/contours-polystrips-retopology-bundle/">RetopoFlow toolset</a> for Blender. Homebrewing beer is quickly becoming a favorite past time, and I'm the co-founder of <a href="http://cgcookie.com">CG Cookie</a>.
	 </p>
    <p class="fade">
      You can find me on <a href="https://twitter.com/carter2422">Twitter</a>, <a href="https://github.com/carter2422">Github</a>, and <a href="http://cgcookie.com/profile/jonathanwilliamson/">CG Cookie</a>.
    </p>
  </div>
</div>

{% endblock %}